<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>

  <body>
    <header><%- include('../partials/navbar') %></header>

    <main>
      <div class="products-list-containeructs">
        <% for (let i = 0; i< products.length; i++){ %>

        <div class="section">
          <a href="/products/<%= products[i].id %>"
            ><img src="<%= products[i].image %>" class="images"
          /></a>
          <br />
          <h3><%= products[i].name %></h3>
        </div>

        <% } %>
      </div>

      <div class="add">
        <a href="/create"><i class="fa-solid fa-square-plus fa-2xl"></i></a> Añadir un producto
      </div>
    </main>

    <%- include('../partials/footer') %>
  </body>
</html>
