<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>
<body>
  <header>
    <%- include('../partials/navbar') %>
  </header>
  <main>
    <div class="main-container">
      <div class="search-options">
        <span>Búsqueda 1 ></span>
        <span>Búsqueda 2 ></span>
        <span>Búsqueda 3 ></span>
      </div>
      <div class="product-images">
        <div class="images-list">
          <div class="image-thumbnail">
            <img src="/images/products/<%=data.image%>" alt="Thumbnail 1" />
          </div>
          <div class="image-thumbnail">
            <img src="/images/products/<%=data.image%>" alt="Thumbnail 2" />
          </div>
          <div class="image-thumbnail">
            <img src="/images/products/<%=data.image%>" alt="Thumbnail 3" />
          </div>
        </div>
        <div class="image-preview">
          <img src="/images/products/<%=data.image%>" alt="Preview 1" class = "image_preview"/>
        </div>
        <div class="product-info">
          <h2><%=data.name%></h2>
          <br />
          <p><strong>Precio:</strong><%=data.price%></p>
          <br />
        
          <% let Cuota = parseFloat(data.price)/4; %>

          <p><strong>Promo:</strong> 4 pagos de <%= Cuota %> dólares con Visa</p>
          <br />
          <h4>Descripcion</h4>
          <p>
            <%=data.description%>
          </p>
          <br />
          <h5>Medios de pago:</h5>
          <ul>
            <li>Visa</li>
            <li>MercadoPago</li>
            <li>MasterCard</li>
          </ul>
          <br />
          <div class="products-buttons-container">
            <button>Añadir al Carrito</button>

            <a href="/products/<%=data.id%>/edit"><button>Editar producto</button></a>
  
            <form action="/products/<%=data.id%>?_method=DELETE" method = "POST">
              <input type="submit" value="Eliminar producto">
            </form>
          </div>

        </div>
      </div>

      <!-- <div class="general-information">
          <div class="ingredients">
            <h4>Info. General</h4>
          </div>
          <div class="ingredients">
            <h4>Ingredientes</h4>
          </div>
          <div class="alert">
            <h4>Contraindicaciones</h4>
          </div>
        </div> -->
    </div>
  </main>

  <%- include('../partials/footer') %>
</body>

</html>