<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <header>
      <%- include('./partials/navbar') %>
      <hero>
        <div class="hero-image">
          <h1>Delicious Cakes</h1>
        </div>
      </hero>
    </header>
    <main>
      <section class="info">
        <div class="info-text">
          Bienvenido a nuestra encantadora pastelería, donde los sueños dulces se hacen realidad. Sumérgete en un mundo de deliciosos sabores y exquisitas creaciones que deleitarán tu paladar. Nuestra pastelería es un paraíso para los amantes de los postres, donde cada bocado es una experiencia inolvidable.
        </div>
        <div class="info-animation">
          <img src="images/cicle-baked-bread.svg" alt="" srcset="" />
        </div>
      </section>
      <section class="products">

        <% for (let i = 0; i< data.length; i++){ %>
          <div class="product">
            <div class="product-image">
              <a href="/products/<%= data[i].id %>">
                <img src="/images/products/<%= data[i].image %>" alt="Product" srcset="" class = "product_image"/>
              </a>
            </div>
          </div>
        <% } %>


      </section>

      <div class = "ver_products">
        <a href="/products">
          <i class="fa-solid fa-cake-candles"></i>
          Ver todos los productos
        </a>
      </div>

      <%- include('./partials/footer') %>
    </main>
  </body>
</html>
