<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <header><%- include('../partials/navbar') %></header>
    <main>
      <div class="entradas">
        <div class="imagenes">
          <img src="images/logo.svg" alt="Logo" class="logo" />
          <div class="animation">
            <img src="images/cicle-baked-bread.svg" alt="" srcset="" class="anim" />
          </div>
        </div>

        <div class="datos">
          <h2 class="marca">Digital Cake</h2>

          <form action="/login" method="post" id="login-form">
            <label for="email"></label>
            <div class="input">Usuario</div>
            <input type="text" name="email" id="email" placeholder="Email"  />
            <div class="email-error"></div>

            <% if (loginErrors[0]) { %>
              <div class="error">
                <p><%= loginErrors[0].email %></p>
              </div>
              <% } %>

            <label for="password"></label>
            <div class="input">Contraseña</div>
            <input type="password" name="password" id="password"  />
            <div class="password-error"></div>

            <% if (loginErrors[1]) { %>
              <div class="error">
                <p><%= loginErrors[1].password %></p>
              </div>
              <% } %>

            <!-- Render error message-->
            <% if (loginError) { %>
            <div class="error">
              <p><%= loginError %></p>
            </div>
            <% } %>

            <div class="button_container">
              <button class="registrarse" id="login-button">
                Ingresar
              </button>
            </div>
          </form>
          <h5>¿Olvidó su contraseña?</h5>
          <br />
          <h5>¿No tienes una cuenta?</h5>
          <div class="button_container">
            <a href="/register">
              <button class="registrarse">Regístrate</button>
            </a>
          </div>
        </div>
      </div>
    </main>

    <%- include('../partials/footer') %>
    <script src="js/validations/login.js"></script>
  </body>
</html>
