<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
      <header>
        <%- include('../partials/navbar') %>
      </header>
    <main>
      <div class="welcome">
       <!--<img src="images/logo.svg" alt="Logo" /> -->
        <section class="mensaje">
          <h2 class="mensaje1">¡Bienvenido!</h2>
          <p class="mensaje2">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus vel quae accusantium
            nihil laudantium.
          </p>
        </section>
      </div>

      <form action="/register" method="post" 
      enctype="application/x-www-form-urlencoded" enctype="multipart/form-data">
        <label for="nombre"></label>
        <div class="input">Nombre</div>
        <div class="nota">Ingrésalo tal como aparece en tu documento.</div>

        <input type="text" name="nombre" id="nombre"  value="<%=locals.values ? values.nombre : '' %>"/>
        <div class="name-error"></div>
        <% if(locals.errors && errors.nombre){%>
          <div class = "error_message">
          <p><%=errors.nombre.msg%></p>
          </div>
        <%}%>

        <label for="apellido"></label>
        <div class="input">Apellido</div>
        <div class="nota">Ingrésalo tal como aparece en tu documento.</div>

        <input type="text" name="apellido" id="apellido"  value="<%=locals.values ? values.apellido : '' %>" />
        <div class="surname-error"></div>
        <% if(locals.errors && errors.apellido){%>
          <div class = "error_message">
          <p class = "error_message"><%=errors.apellido.msg%></p>
          </div>
        <%}%>

        <label for="email"></label>
        <div class="input">E-mail</div>
        <input  name="email" id="email"  value="<%=locals.values ? values.email : '' %>"/>
        <div class="email-error"></div>
        <% if(locals.errors && errors.email){%>
          <div class = "error_message">
          <p class = "error_message"><%=errors.email.msg%></p>
          </div>
        <%}%>

        <label for="contraseña"></label>
        <div class="input">Contraseña</div>
        <input type="password" name="password" id="contraseña" />
        <div class="password-error"></div>
        <% if(locals.errors && errors.password){%>
          <div class = "error_message">
          <p class = "error_message"><%=errors.password.msg%></p>
          </div>
        <%}%>

        <label for="repcontraseña"></label>
        <div class="input">Verificar contraseña</div>
        <input
          type="password"
          name="reppassword"
          id="repcontraseña"
        />
        <div class="repeat-password-error"></div>
        <% if(locals.errors && errors.reppassword){%>
          <div class = "error_message">
          <p class = "error_message"><%=errors.reppassword.msg%></p>
          </div>
        <%}%>

        <div class="check">
          <label for="terminos"></label>
          <input type="checkbox" name="terminos" id="terminos" />Acepto los términos y
          condiciones
        </div>
        <div class="check-terms-error"></div>

        <div class="button_container">
          <button class="registrarse" type="submit" id="register-button">
            Registrarse
          </button>
        </div>
      </form>
    </main>

    <%- include('../partials/footer') %>
    <script src="/js/validations/register.js"></script>
  </body>
</html>
